src/main/resources/Eureka-Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="application">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element name="instance" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="hostName"/>
                            <xs:element type="xs:string" name="app"/>
                            <xs:element type="xs:string" name="ipAddr"/>
                            <xs:element type="xs:string" name="status"/>
                            <xs:element type="xs:string" name="overriddenstatus"/>
                            <xs:element name="port">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:short">
                                            <xs:attribute type="xs:string" name="enabled" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="securePort">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:short">
                                            <xs:attribute type="xs:string" name="enabled" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:byte" name="countryId"/>
                            <xs:element name="dataCenterInfo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element name="metadata">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:long" name="accountId"/>
                                                    <xs:element type="xs:string" name="local-hostname"/>
                                                    <xs:element type="xs:string" name="instance-id"/>
                                                    <xs:element type="xs:string" name="local-ipv4"/>
                                                    <xs:element type="xs:string" name="instance-type"/>
                                                    <xs:element type="xs:string" name="vpc-id"/>
                                                    <xs:element type="xs:string" name="ami-id"/>
                                                    <xs:element type="xs:string" name="mac"/>
                                                    <xs:element type="xs:string" name="availability-zone"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="class" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="leaseInfo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="renewalIntervalInSecs"/>
                                        <xs:element type="xs:byte" name="durationInSecs"/>
                                        <xs:element type="xs:long" name="registrationTimestamp"/>
                                        <xs:element type="xs:long" name="lastRenewalTimestamp"/>
                                        <xs:element type="xs:byte" name="evictionTimestamp"/>
                                        <xs:element type="xs:long" name="serviceUpTimestamp"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="metadata">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="class" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:anyURI" name="homePageUrl"/>
                            <xs:element type="xs:anyURI" name="statusPageUrl"/>
                            <xs:element type="xs:anyURI" name="healthCheckUrl"/>
                            <xs:element type="xs:string" name="vipAddress"/>
                            <xs:element type="xs:string" name="secureVipAddress"/>
                            <xs:element type="xs:string" name="isCoordinatingDiscoveryServer"/>
                            <xs:element type="xs:long" name="lastUpdatedTimestamp"/>
                            <xs:element type="xs:long" name="lastDirtyTimestamp"/>
                            <xs:element type="xs:string" name="actionType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>